{% from "project-card.html" import projectCard %}

{% set currentPage = "Projects"  %}
{% extends "base.html" %}

{% block additionalStyles %}
    <link rel="stylesheet" href="stylesheets/projects_style.css"
{% endblock %}

{% block pageContent %}
<h1 class="page-title">Projects</h1>

<div class="cards">
    {{ projectCard("projects/wean9.html", "/assets/images/wean9.png", "Wean 9", "112-themed dungeon crawler set in Wean Hall with all your favorite characters!")  }}
    {{ projectCard("projects/dragonfly.html", "/assets/images/dragonfly_photo.png", "Dragonfly", "A fully-featured study tool and LMS implemented in Flask, SQLAlchemy, and Vanilla Javascript.")  }}
</div>
{% endblock %}
