<div class="navbar" id="navbar">
    <a class="navbar-logo" href="{% if basePath is not none %}{{ basePath  }}{% endif %}index.html">Theo Kroening</a>
    <ul class="navbar-links">
        <a href="{% if basePath is not none %}{{ basePath  }}{% endif %}index.html" class="navbar-link {% if currentPage == "About" %}navbar-link-active{% endif %}">About</a>
        <a href="{% if basePath is not none %}{{ basePath  }}{% endif %}projects.html" class="navbar-link {% if currentPage == "Projects" %} navbar-link-active {% endif %}">Projects</a>
        <a href="{% if basePath is not none %}{{ basePath  }}{% endif %}blog.html" class="navbar-link {% if currentPage == "Blog" %} navbar-link-active {% endif %}">Blog</a>
        <a href="{% if basePath is not none %}{{ basePath  }}{% endif %}resume.pdf" class="navbar-link">Resume</a>
    </ul>
    <a class="navbar-burger" onclick="showNavbarLinks();">
        Menu
    </a>
</div>
<hr class="navbar-divider">

