 :root {
  --213-red: #AF3526;
  --tomato-red: #FB4D3D;
  --dark-background: #011936; /* OXFORD BLUE */
  --dark-white: #F5F5F5;
}


body {
    font-family : "IBM Plex Sans", system-ui, sans-serif;
    background-color: white;
}

.body-container {
    width: calc(min(60%, 850px));
    margin: auto;
    margin-top: 20px;
}

.navbar {
    width: calc(min(60%, 850px));
    margin: auto;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo {
    margin-right: auto;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    float: left;
}

.navbar-divider {
    border: none;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar-links {
    float: right;
    padding: 0;
    display: flex;
    width: auto;
    justify-content: space-between;
    gap: 10px;
}

.navbar-link {
    text-decoration: none;
    color: black;
}

.navbar-link-active {
    color: var(--213-red);
}

.navbar-link:hover {
    color: var(--213-red);
}

.mobile-menu {
    display: none;
}

footer {
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

a {
    color: var(--213-red);
}


@media screen and (max-width:600px) {
    .body-container {
        width: 80%;
    }

    .navbar {
        width: 100%;
    }

    .navbar ul {display: none;}

    .mobile-menu {
        margin-top: 0.5em;
        display: flex;
        justify-content: space-evenly;
    }
}

.page-title {
    text-align: center;
    font-weight: 500;
}


/* Dark Mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-background);
        color: var(--dark-white);
    }

    .navbar-logo {
        color: var(--dark-white);
    }

    .navbar-link {
        color: var(--dark-white);
    }

    .navbar-link:hover {
        color: var(--tomato-red);
    }

    .navbar-link-active {
        color: var(--tomato-red);
        font-weight: bold;
    }

    a {
        color: var(--tomato-red);
    }

    .navbar-divider {
        background-color: rgba(245, 245, 245, 0.4);
    }

}
